<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Servicio Nuevo</h3>
        </div>
        <div class="card-body">
            <form action="/servicios/new-servicio" method="POST">
                <div class="form-group">
                    <input type="text" name="codigo" class="form-control" placeholder="Código" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" class="form-control" placeholder="Descripción">
                </div>
                <div class="form-group">
                    <select name="proveedor" class="form-control">
                        <option value="Vidriocar S.A.">Vidriocar S.A.</option>
                        <option value="Publinox S.R.L.">Publinox S.R.L.</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="precio" class="form-control" placeholder="Precio">
                </div>
                <div class="form-group">
                    <input type="date" name="fechaVigente" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>