<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, voluptate aliquam. Totam harum
            suscipit vel repellat corrupti hic corporis. Non!</p>
    </div>
</section>